<%- include('partials/header') %>

    <section class="main" id="main">
        <div class="introduçao">
            <h2>Olá, eu sou o Gabriel</h2>
            <h3>Desenvolvedor Full Stack</h3>
            <p>Cursando desenvolvimento de software na Fatec, em busca de novos conhecimentos e experiências.</p>
            <div class="buttons">
                <a href="#contato"><button>Me contate</button></a>
            </div>
        </div>
        <div class="foto-perfil">
            <img src="/imagens/main1.jpeg" />
        </div>
    </section>

    <section class="projetos" id="projetos">
        <!-- <h2>Projetos</h2>
    <div class="projeto-card">
        <img src="./imagens/LogoSportsAround.png" alt="Logo do Sports Around" class="projeto-imagem">
        <div class="projeto-conteudo">
            <h3>Sports Around</h3>
            <p> Aplicativo com intuito de facilitar o acesso ao esporte na cidade, incentivando as pessoas e
                unindo-as. No aplicativo, após o usuário se cadastrar, terá acesso a várias comunidades de esportes,
                como: Vôlei, Futebol, Basquete, entre outros; ele poderá escolher a comunidade que ele preferir, ao
                clicar terá acesso a comunidade do esporte escolhido, e dentro dessa comunidade poderá ver onde está
                tendo jogos, escolher entre lugares gratuitos e lugares pagos e também encontrar espaços com aulas do esporte desejado.
            </p>
            <a href="" target="_blank"><button class="btn-saiba-mais">Saiba Mais</button></a>
        </div>
    </div> -->
        <div class="projeto-card">
            <img src="./imagens/demoquerycy_logo.png" alt="Logo do Projeto Demoquery" class="projeto-imagem">
            <div class="projeto-conteudo">
                <h3>Demoquery</h3>
                <p>O Demoquery é um projeto que busca aumentar a transparência e o engajamento político fora do período
                    eleitoral, permitindo que os cidadãos acompanhem a atuação dos políticos na câmara municipal de São
                    José dos Campos. A proposta é fornecer uma ferramenta que ajude a população a tomar decisões
                    informadas sobre seus representantes.</p>
                <a href="https://github.com/AgileKrakens/DemoQuerycy" target="_blank"><button
                        class="btn-saiba-mais">Saiba Mais</button></a>
            </div>
        </div>
        <div class="projeto-card">
            <img src="./imagens/genesys.png" alt="Logo do Projeto Genesys" class="projeto-imagem">
            <div class="projeto-conteudo">
                <h3>Genesys</h3>
                <p>O Genesys é um projeto em desenvolvimento que tem como objetivo oferecer soluções reais para
                    profissionais da venda direta. Com base na metodologia ágil SCRUM, a proposta é criar um dashboard
                    estratégico que monitore indicadores de crescimento das empresas e desenvolver um sistema de
                    captação de usuários externos, facilitando a conexão entre patrocinadores e afiliados.</p>
                <a href="https://github.com/GeneSys-fatec/API-2DSM" target="_blank">
                    <button class="btn-saiba-mais">Saiba Mais</button>
                </a>
            </div>
        </div>
    </section>

    <section class="formacao" id="formacoes">
        <h2>Formação</h2>
        <div class="formacao-grid">
            <div class="formacao-card">
                <h3>IDEIA - Ensino Médio Técnico</h3>
                <p>2020 - 2023</p>
                <p>Técnico de informática</p>
            </div>
            <div class="formacao-card">
                <h3>Fatec - Tecnólogo Superior</h3>
                <p>2024 - 2027</p>
                <p>Desenvolvimento de software multiplataforma</p>
            </div>
        </div>
        <!-- <h2>Experiência</h2>
    <div class="formacao-grid">
        <div class="formacao-card">
           ................................
        </div>
        <div class="formacao-card">
            ...............................
        </div> -->
    </section>

    <section class="habilidades" id="habilidades">
        <h2>Habilidades</h2>
        <div class="habilidades-grid">
            <div class="habilidade-item">
                <img src="./imagens/html.png">
                <p>Html</p>
            </div>
            <div class="habilidade-item">
                <img src="./imagens/css.png">
                <p>Css</p>
            </div>
            <div class="habilidade-item">
                <img src="./imagens/GitHub-icon.png">
                <p>GitHub</p>
            </div>
            <div class="habilidade-item">
                <img src="./imagens/bootstrap.png">
                <p>Bootstrap</p>
            </div>
            <div class="habilidade-item">
                <img src="./imagens/tailwind.png">
                <p>Tailwind</p>
            </div>
            <div class="habilidade-item">
                <img src="./imagens/python.png">
                <p>Python</p>
            </div>
            <div class="habilidade-item">
                <img src="./imagens/figma.png">
                <p>MySQL</p>
            </div>
            <div class="habilidade-item">
                <img src="./imagens/trello.png">
                <p>Trello</p>
            </div>
            <div class="habilidade-item">
                <img src="./imagens/typeScript.png">
                <p>TypeScript</p>
            </div>
            <div class="habilidade-item">
                <img src="./imagens/react.png">
                <p>React</p>
            </div>
            <div class="habilidade-item">
                <img src="./imagens/JavaScript.png">
                <p>JavaScript</p>
            </div>
            <div class="habilidade-item">
                <img src="./imagens/git.png">
                <p>Git</p>
            </div>
        </div>
    </section>

    <section class="contato" id="contato">
        <h2>Contato</h2>
        <div class="redes-sociais">
            <a href="http://www.linkedin.com/in/gabriel-fernando-bb430b330"><img src="./imagens/linkedin-icon.png"
                    alt="LinkedIn"></a>
            <a href="https://github.com/Gabriel-Fernando-Lima"><img src="./imagens/GitHub-icon.png" alt="GitHub"></a>
        </div>
        <a href="https://github.com/Gabriel-Fernando-Lima/Curriculo/blob/main/Currículo.pdf" target="_blank">
            <button>Currículo</button>
        </a>
    </section>

    <%- include('partials/footer') %>