<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Projetos</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <% include partials/header %>

  <main>
    <h2>Meus Projetos</h2>
    <ul>
      <% projetos.forEach(projeto => { %>
        <li>
          <strong><%= projeto.titulo %></strong>: <%= projeto.descricao %>
        </li>
      <% }); %>
    </ul>
  </main>

  <% include partials/footer %>
</body>
</html>
